<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Micropublish</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <style>
    body { padding-top: 1em; }
    form.logout { float: right; }
    @media screen and (max-width: 700px) {
      .post-type-label { display: none; }
      form.logout { float: none; }
    }
  </style>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% if logged_in? %>
          <form action="/logout" method="post" class="form-inline logout">
            <p>
              <code><%= session[:micropub_endpoint] %></code>&nbsp;
              <button class="btn btn-default btn-xs" type="submit">Log out</button>
            </p>
          </form>
        <% end %>
        <p class="h-x-app">
          <a class="p-name" href="https://github.com/barryf/micropublish">Micropublish</a> &mdash;
          <a href="/about">About</a>
        </p>
      </div>
    </div>
  </div>

  <script src="/twitter-text.js"></script>
</body>
</html>
