<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Micropublish<% if @title %>: <%= @title %><% end %></title>
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/micropublish.css">
    <link rel="stylesheet" href="/css/bootstrap-tokenfield.min.css">
    <link rel="stylesheet" href="/css/trix.css">
    <script src="/scripts/trix.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header h-x-app">
          <a class="navbar-brand p-name" href="/">
            Micropublish
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
<%= flash_message %>
<%= yield %>
        </div>
      </div>
    </div>

    <% if logged_in? %>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form action="/logout" method="post" class="form-inline logout">
              <p>
                <code><%= session[:me] %></code>&nbsp;
                <button class="btn btn-default btn-xs" type="submit">
                  Sign out
                </button>
              </p>
            </form>
            <a href="/">Dashboard</a>
            &middot;
            <a href="/about">About</a>
          </div>
        </div>
      </div>
    <% end %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
    <script src="/scripts/twitter-text.js"></script>
    <script src="/scripts/jquery.ns-autogrow.min.js"></script>
    <script src="/scripts/bootstrap-tokenfield.min.js"></script>
    <script src="/scripts/micropublish.js"></script>
  </body>
</html>
