<form action="/create" method="post">
  <p><input type="text" name="name" placeholder="name" size="50"></p>
  <p><input type="url" name="bookmark" placeholder="bookmark" size="50"></p>
  <p><input type="url" name="like_of" placeholder="like-of" size="50"></p>
  <p><input type="url" name="repost_of" placeholder="repost-of" size="50"></p>
  <p><input type="url" name="in_reply_to" placeholder="in-reply-to" size="50"></p>
  <p><input type="text" name="category" placeholder="category1 category2" size="50"></p>
  <p><textarea name="content" placeholder="content" cols="50" rows="10"></textarea></p>

  <p><input type="submit" value="Post"></p>
</form>
