<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Preview</h3>
  </div>
  <div class="panel-body" id="preview-content">
    <pre><%= @content %></pre>
  </div>
</div>