<div class="alert alert-warning">
  <strong>404 Not Found</strong> was received from your server.
  This may be because your server has not finished creating the post yet.
  Micropublish will try to redirect again shortly.
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div style="text-align: center">
      <h1 style="font-size: 500%;">
        <span class="fa fa-spinner fa-spin"></span>
      </h1>
      <h3 id="countdown">Redirecting in 3 seconds</h3>
      <br>
      <p>
        <a href="<%= @url %>"><%= @url %></a>
      </p>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#countdown').countdown(3);
  });
</script>
