<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Undelete post?</h3>
  </div>
  <div class="panel-body">
    <form action="/undelete" method="post">
      <div class="form-group">
        <input type="url" class="form-control" name="url" readonly
          value="<%= params[:url] %>">
      </div>
      <div>
        <button class="btn btn-primary btn-success" type="submit">Undelete</button>
        <a href="/" class="btn btn-default" role="button">Cancel</a>
      </div>
    </form>
  </div>
</div>